server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: identity-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/identity/**
          filters:
            - StripPrefix=1
        
        - id: organization-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/organizations/**
          filters:
            - StripPrefix=1
        
        - id: property-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/properties/**
          filters:
            - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  health:
    liveness-state:
      enabled: true
    readiness-state:
      enabled: true

logging:
  level:
    root: INFO
    com.realestate: DEBUG

